<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<h1>HISTORY</h1>
<div th:each="el : ${history}" class="alert alert-info mt-2">
    <p th:text="'Ապրանքի անուն  &nbsp'+${el.getProductName()}+'&nbsp&nbsp&nbsp&nbsp Քանակ  &nbsp'
    +${el.getProductCount()}+'&nbsp&nbsp&nbsp&nbsp Գին  &nbsp'
    +${el.getProductPrice()}+'դ  &nbsp&nbsp&nbsp&nbsp'
    +${el.getDate()}">value</p>
</div>
<a href="/users/success" class="btn btn-success mt-2 mb-5">BACK</a>
</body>
</html>